<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:required="true" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:extractNativeLibs="true"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic"
        android:supportsRtl="true"
        android:theme="@style/Theme.GaMeR"
        android:usesCleartextTraffic="true"
        tools:targetApi="34">
        <activity
            android:name=".adm.admActivity"
            android:exported="false"
            android:label="@string/title_activity_adm"
            android:theme="@style/Theme.GaMeR.NoActionBar" />
        <activity
            android:name=".permissionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".http.YourCancelService" />

        <activity
            android:name=".calActivity"
            android:exported="false" />

        <receiver
            android:name=".http.WiFiDirectBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="Instantiatable" />

        <activity
            android:name=".http.ftpActivity"
            android:exported="false" />
        <activity
            android:name=".fitgirl.fitmainActivity"
            android:exported="false" />
        <activity
            android:name=".http.WhatsappActivity"
            android:exported="false" />
        <activity
            android:name=".Yogi.YogimainActivity"
            android:exported="false" />
        <activity
            android:name=".InstaActivity"
            android:exported="false" />
        <activity
            android:name=".Yogi.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".Yogi.yogi"
            android:exported="false" />
        <activity
            android:name=".yt"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>